<section class="row row-extended section section-intro section-sponsors" id="sponsors">
    <article class="col-twelve with-bottom-line">

		<h5>Sponsors</h5>
		<h1>Patrocina</h1>

        <div class="row logos">
            <a href="http://www.semmantica.com/" target="_blank">
                <%= image_tag "sponsors/logo-semmantica.png" %>
            </a>
            <a href="https://getsetpay.com/" target="_blank">
                <%= image_tag "sponsors/logo-setpay.png" %>
            </a>
            <a href="https://cartodb.com/" target="_blank">
                <%= image_tag "sponsors/logo-cartodb.png" %>
            </a>
            <a href="https://spines.me">
                <%= image_tag "sponsors/logo-spines.png" %>
            </a>
        </div>


        <div class="row logos">
            <a href="https://www.ticketea.com/" target="_blank">
                <%= image_tag "sponsors/logo-ticketea.png" %>
            </a>
            <a href="https://cuentica.com/" target="_blank">
                <%= image_tag "sponsors/logo-cuentica.png" %>
            </a>
            <a href="http://ambar.com/" target="_blank">
                <%= image_tag "sponsors/logo-ambar.png" %>
            </a>
            <a href="http://www.besepa.com/" target="_blank">
                <%= image_tag "sponsors/logo-besepa.png" %>
            </a>
        </div>


        <div class="row logos">
            <a href="http://www.deiser.com/" target="_blank">
                <%= image_tag "sponsors/logo-deiser.png" %>
            </a>
            <a href="http://autentia.com/" target="_blank">
                <%= image_tag "sponsors/logo-autentia.png" %>
            </a>
            <a href="http://10labs.es/" target="_blank">
                <%= image_tag "sponsors/logo-10labs.png" %>
            </a>
        </div>

    </article>
</section>
